<section class="section">
    <nav class="navbar is-fixed-top hero is-medium is-light is-bold" role="navigation" aria-label="main navigation">

        <!-- <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div> -->

        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="./assets/youtube.svg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
            </a>
        </div>

    </nav>
</section>