<div class="container">
    <section class="row component-section">

        <div class="col-md-4 col-sm-4 col-xs-4">
            <!-- Default button with a ripple effect -->
            <button type="button " class="btn pmd-ripple-effect btn-default "> Default </button >
        </div>
       <div class="col-md-4 col-sm-4 col-xs-4">
                <!--Primary button with a ripple effect-->
            <button type="button " class="btn pmd-ripple-effect btn-primary "> Primary </button ></div>
        <div class="col-md-4 col-sm-4 col-xs-4">
                <!--Success button with a ripple effect-->
            <button type="button " class="btn pmd-ripple-effect btn-success "> Success </button >
        </div>

    </section>
    
    <section class="row component section">
        <!-- Media dialog type1-->
<button data-target="#center-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Media Modal</button>
            <div tabindex="-1" class="modal fade" id="center-dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <div class="media-left">
                                <a href="javascript:void(0);" class="avatar-list-img"> <img width="40" height="40" src="http://propeller.in/components/list/img/40x40.png"> </a>
                            </div>
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text">Two-line item</h3>
                                <span class="pmd-card-subtitle-text">Secondary text</span> </div>
                        </div>
                        <div class="pmd-modal-media"> <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png"> </div>
                        <div class="modal-body"> Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions. </div>
                        <div class="pmd-modal-action">
                            <button data-dismiss="modal" type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">share</i> </button>
                            <button data-dismiss="modal" type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">thumb_up</i> </button>
                            <button data-dismiss="modal" type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">drafts</i> </button>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    </div>



    <div class="container ">

        <h1 class="title ">Canal de YouTube</h1>
        <hr>
    </div>
    <div class="container " *ngIf="videos.length> 0">


        <div class="columns is-mobile is-multiline is-centered">
            <div class="card" *ngFor="let video of videos" style="margin:10px">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ video.title}}
                    </p>
                </header>
                <div class="card-image">
                    <figure class="image is-128x128">
                        <img [src]="video.thumbnails.high.url" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">

                        <a id="modal" (click)="verVideo(video)" class="button is-primary">Launch example modal</a>

                    </div>
                </div>

            </div>
            <br><br>
        </div>

    </div>


    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" *ngIf="videoSel">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1>Hello World</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel,
                        interdum mattis neque.</p>


                </div>
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success">Save changes</a>
                <button class="button modal-close">Cerrar</button>
            </footer>

        </div>
    </div>

    <!-- <div id="modal" class="modal">

    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ videoSel?.title}}</p>
        </header>
        <section class="modal-card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sequi exercitationem labore a. Fuga magni ad, totam molestiae aliquam distinctio cumque ullam quaerat explicabo tempora ratione, consectetur dolor ab esse?</p>
            <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button modal-close">Cerrar</button>
        </footer>
    </div>

</div> -->