<div class="container">

    <section class="row component section">
        <!-- Media dialog type1-->
        <div data-backdrop="static" data-keyboard="false" tabindex="-1" class="modal fade" id="center-dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" *ngIf="videoSel">
                    <div class="modal-header">
                        <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> -->
                        <div class="media-left">
                            <a href="javascript:void(0);" class="avatar-list-img"> <img width="40" height="40" src="http://propeller.in/components/list/img/40x40.png"> </a>
                        </div>
                        <div class="media-body media-middle">
                            <h3 class="pmd-card-title-text">{{videoSel.title}}</h3>
                            <span class="pmd-card-subtitle-text">Secondary text</span>
                        </div>
                    </div>

                    <div class="pmd-modal-media text-center">
                        <iframe width="560" height="315" [src]="videoSel.resourceId.videoId | youtubeSeguro" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="modal-body"> Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions. </div>
                    <div class="pmd-modal-action">
                        <button (click)="cerrarModal()" type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">close </i> </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



<div class="container ">
    <div class="row">
        <h1 class="title ">Canal de YouTube</h1>
        <hr>
    </div>

</div>

<div class="container " *ngIf="videos.length> 0">


    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let video of videos">

            <!--Media, Title, Description and Action area -->
            <div class="pmd-card pmd-card-default pmd-z-depth">
                <!-- Card header -->
                <div class="pmd-card-title">
                    <div class="media-left">
                        <a href="javascript:void(0);" class="avatar-list-img">
                            <img width="40" height="40" src="http://propeller.in/assets/images/avatar-icon-40x40.png" [alt]="video.title">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h3 class="pmd-card-title-text">{{ video.title }}</h3>
                        <span class="pmd-card-subtitle-text">{{ video.publishedAt }}</span>
                    </div>
                </div>

                <!-- Card media -->
                <div class="pmd-card-media">
                    <img width="1184" height="666" class="img-responsive" [src]="video.thumbnails.high.url">
                </div>

                <!-- Card body -->
                <div class="pmd-card-body">
                    <p>Pmd-card-body</p>
                </div>

                <!-- Card actions -->
                <div class="pmd-card-actions">
                    <div class="text-center">
                        <button (click)="verVideo(video)" data-target="#center-dialog" data-toggle="modal" class="btn btn-block pmd-ripple-effect btn-primary pmd-z-depth" type="button" style="max-width: 200px; min-width:100px">Ver video</button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-12 text-center">
            <button (click)="cargarVideos()" type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-success btn-block">cargar más videos</button>
            <br>
            <br>
            <br>
        </div>

    </div>

</div>